:root {
  --split: 0%;
}

.heading {
position: fixed;
display: flex;
margin: 30%;
}

h1 {
  font-size: 68px;
  line-height: 0.9em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.01em;
  padding: 0.3em 0em;
  background-image: linear-gradient(
    90deg,
    #8b5cf6 0%,
    #8b5cf6 var(--split),
    #fafafa var(--split)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h1:before {
  content: "";
  background-color: #8b5cf6;
  width: 3px;
  height: 100%;
  top: 0%;
  left: var(--split);
  position: absolute;
}

h1 span {
  font-size: 0.3em;
  line-height: 1em;
  letter-spacing: 0.02em;
  display: block;

}
